<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Novembro Azul</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>

  <!--Ellen Belini De Oliveira Ra:202202311448  /// Guilherme Germano Ferreira Ra:202202147796-->
  <!--Essa Single Page nos mostra sobre o Novembro Azul-->
  
  <body>
    <header>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Novembro Azul</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Doenças</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sobre nós</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Campanhas
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Respire Agosto</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Setembro Amarelo</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Outubro Rosa</a></li>
                </ul>
              </li>
            </ul>   
          </div>
        </div>
    
      </nav>
    </header>
      <section>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
             
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="img/blue-ribbon-g4512e8ffb_1280.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Novembro Chegou!</h5>
                  <p>É hora de agir com #Azultitude</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="img/doctor-g8191fb949_1280.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Cuide-se</h5>
                  <p>Ir ao médico é essencial para uma longa vida.</p>
                </div>
              </div>
              
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="img/man-g14e76aaed_1280.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mitos e verdades sobre cancêr de Próstata:</h5>
                  <p class="card-text">Verdades:<br>Ter casos na familia, como tios, irmãos ou pai aumenta o risco;<br>
                    Homens negros tem maior risco de desenvolver a doença;<br>
                    O sendentarismo pode aumentar o risco para o desenvolvimento do cancêr de próstata.<br>
                    Mitos:<br>O cancêr de próstata é uma doença de idoso;<br>
                    Já existe exame que elimina a necessidade do toque retal;<br>
                    Todos os casos de cancêr de próstata precisam de tratamento.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Atualizado agora.</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="img/hd-wallpaper-gd15657fa1_1280.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Alimentação</h5>
                  <p class="card-text">A alimentação é importante na prevenção e no tratamento do câncer de próstata. Na prevenção, estudos indicam
                     que o licopeno presente em alimentos como tomate, goiaba vermelha, melancia, entre outros, é benéfico. “O licopeno atua como 
                     antioxidante e tem importante papel de proteção”</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Atualizado agora.</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="img/dna-g20965317f_1280.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Teste genético pode auxiliar na detecção precoce do câncer de próstata</h5>
                  <p class="card-text">Estudo do Fred Hutchinson Cancer Research Center e da Universidade de Washington, intitulado
                     “GENTleMEN”, constatou em 2017 que quase 12% dos homens com câncer de próstata avançado herdaram mutações em genes
                      que são importantes para manter o DNA livre de erros – o que significa que eles receberam esses erros genéticos
                       de um dos pais muito antes de um tumor se formar.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Atualizado agora.</small>
                </div>
              </div>
            </div>
          </div>

      </section>
  </body>
</html>